fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

form {
    display: flex;
    justify-content: center;
}

input {
    margin: 0.2rem;
}

body {
    height: 100vh;
    width: 100vw;
}